@font-face{
	font-family: 'poppinsregular';
	font-weight:normal;
	font-style: normal;
	src: url('./../assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
	     url('./../assets/fonts/poppins-regular-webfont.woff') format('woff');
	  line-height:1em;   
    
}
.boldText{
	font-weight:bold;
}
h5{
	margin:0;
	padding:0;
}
.custom-body-font {
    font-size: 12pt; 
}

.option_btn {
    font-size: 12pt;
    width: 50%;
    margin: 0;
}

.option_btn-danger {
    background-color: #fff;
    color: #b02a37;
    border-color:#a52834
}
.option_btn-primary {
    background-color: #fff;
    color: #0b5ed7;
    border-color: #0a58ca;
}
.custom-btn {
    /* Your styles here */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

.custom-btn .custom-i {
    display: inline-block;
    float: left;
    padding: 10px 0;
    margin-right: 20px;
}
.form-group > .select2-container{
	width:100% !important
}

body, input, textarea, button, select, tr, td,th {
    font-family: poppinsregular, sans-serif;
}
table.table-sm th{
	font-weight:bold;
}

.canvas-container {
    min-height: 300px;
    max-height: 400px;
    
    position: relative;
}

.custom-select-option-fs{
	font-size:10px;
}

